* {
  padding: 0rem;
  margin: 0rem;
}
.body {
  width: 100%;
}
.first_page {
  background-image: url(header-image.png);
  height: 87vh;
  /* transform: scale(1.25) translateY(-10%); */
}
.st_page {
  object-fit: cover;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;

  height: 87vh;
}
.bg {
  /* background-color: (0, 0, 0, 0.9); */
  width: 100vw;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 2rem 9rem;
}

.logo {
  width: 9rem;
}
.right {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.launguage {
  width: 6rem;
  /* padding: 6px 28px 6px 36px; */
  color: aliceblue;
  background: transparent;
  height: 2rem;
  border-radius: 0.25rem;
  border: 0cap;
}

.sign_button,
.started_button {
  height: 2rem;
  background-color: red;
  color: white;
  width: 4.806rem;
  border-radius: 0.25rem;
  border-color: red;
}
.text {
  font-size: 3.5rem;
  font-weight: 700;
  width: 100%;
  margin-top: 10%;
  color: white;
  text-align: center;
}
.option_1,
.option_2 {
  color: black;
}
.translate {
  height: 1.4rem;
  color: aliceblue;
}
.trans_launguage {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border: 0.125rem solid rgb(54, 45, 45);
  border-radius: 0.25rem;
  background-color: rgb(37, 33, 33);
  height: 2rem;
  padding-left: 0.25rem;
}
.first_text {
  margin-left: 37rem;
}
p,
h3 {
  display: flex;
  margin-left: 37rem;
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 18.75rem;
  margin-top: 1.4rem;
}
h3 {
  font-size: 1.4rem;
  margin-left: 26rem;
  font-weight: 0px;
  margin-bottom: 1rem;
}
.email {
  border-radius: 0.35rem;
  height: 2.5rem;
  width: 23rem;
  font-size: 1rem;
  padding: 0.5rem 0.7rem 0.5rem;
  background-color: rgba(39, 37, 37, 0.895);
  color: aliceblue;
  margin-left: 30rem;
}
.email_button {
  /* display: inline; */
  text-align: left;
  position: relative;
  /* margin: 1rem auto 0; */
  /* width: 100%; */
  /* margin: 1rem auto 0; */
}
.started_button {
  width: 13.09rem;
  height: 3.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.spacing {
  height: 0.5rem;
  bottom: -0.5rem;
  background-color: rgb(32, 29, 29);
}
.parent {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  /* justify-content: center; */
}
/* second page */
.second_page {
  display: flex;
  background-color: rgb(2, 1, 1);
  height: 30rem;
  padding: 4.5rem 0;
}
h2 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  width: 31rem;
}

.page_text {
  display: flex;
  flex-direction: column;
  margin: 10rem;
  margin-left: 12rem;
  margin-right: 7rem;
}
.second_page_text {
  margin: 1rem 0 0;
  font-size: 1.4rem;
  font-weight: 450;
  width: 33rem;
}
.second_page_image {
  display: flex;
  flex-basis: 50%;
  width: 2.15rem;
  height: 25.5rem;
}
/* third page */
.third_page {
  display: flex;
  background-color: rgb(2, 1, 1);
  height: 30rem;
  padding: 4.5rem 0;
}
.third_page_image {
  display: flex;
  flex-basis: 50%;
  height: 25.5em;
  width: 2.15rem;
  margin-left: 12rem;
}
.third_page_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15rem;
  font-size: 3rem;
  font-weight: 900;
}
h2 {
  letter-spacing: 0.1rem;
}
.third_page_para {
  display: flex;
  flex-basis: 40%;
  margin: 1rem 0 0;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.04rem;
}
/* fourth page */
.fourth_page {
  display: flex;
  background-color: rgb(2, 1, 1);
  height: 30rem;
  padding: 4.5rem 0;
}
.fourth_page_text {
  display: flex;
  flex-direction: column;
  margin: 10rem;
  margin-left: 12rem;
  margin-right: 7rem;
  box-sizing: border-box;
}
.fourth_page_image {
  display: flex;
  flex-basis: 50%;
  width: 2.15rem;
  height: 25.5rem;
}
h2 {
  font-size: 3rem;
  font-weight: 900;
}
p {
  margin: 1rem 0 0;
  letter-spacing: 0.04rem;
}
/* fifth page */
.fifth_page {
  display: flex;
  background-color: rgb(2, 1, 1);
  height: 30rem;
  padding: 4.5rem 0;
}
.fifth_page_image {
  display: flex;
  flex-basis: 50%;
  height: 25.5em;
  width: 2.15rem;
  margin-left: 12rem;
}
.fifth_page_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15rem;
  font-size: 3rem;
  font-weight: 900;
}
h2 {
  letter-spacing: 0.01rem;
}
.fifth_page_para {
  display: flex;
  flex-basis: 40%;
  margin: 1rem 0 0;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
}
/* sixth_page */
.sixth_page {
  display: flex;
  flex-direction: column;
  background-color: rgb(2, 1, 1);
  height: 55rem;
  padding: 4.5rem 0;
}
.sixth_heading {
  width: 60vw;
  margin-left: 30rem;
  font-size: 3rem;
  font-weight: 900;
}
.question {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 2rem;
  justify-items: center;
  letter-spacing: 0.2rem;
}
.question_div {
  /* padding: 0rem; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70rem;
  height: 4.75rem;
  background-color: rgb(32, 29, 29);
  margin: 1rem 0 0;
  margin-left: 11rem;
  padding-left: 1rem;
  /* padding-top: 1rem; */
  /* padding-bottom: 0.2rem; */
  border-radius: 0.3rem;
}
.answer_div {
  width: 100%;
  font-weight: 300;
}
.ans_div {
  margin-top: 1rem;
  margin-left: 11rem;
  background-color: #2d2d2d;
  height: fit-content;
  width: 70rem;
  border-radius: 0.2rem;
  /* padding: 0.1rem 0.1rem; */
}
.email_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
input {
  outline: none;
  border: none;
}
.last_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last_h {
  margin: 3rem auto;
}
.last_email {
  margin: auto;
}
/* seventh page */
.end_page {
  background-color: rgb(2, 1, 1);
  height: 10rem;
  padding: 4.5rem 0;
}
.all_contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.para {
  color: rgb(160, 186, 202);
}
