@media (max-width: 1366px) {
  .second_page_image,
  .fourth_page_image {
    /* display: flex; */
    width: 2rem;
    height: 22rem;
    margin-right: 9rem;
  }
  body {
    width: 82rem;
    /* object-fit: fill; */
  }
  .page_text,
  .fourth_page_text {
    margin-bottom: 7rem;
    margin-left: 7rem;
    /* margin-right: 3.9rem; */
  }
  .third_page_text,
  .fifth_page_text {
    margin-right: 9rem;
  }
  .third_page_image,
  .fifth_page_image {
    margin-left: 9rem;
    width: 2rem;
    height: 22rem;
  }
}
@media (max-width: 1366px) {
  .first_page {
    background-image: url(header-image.png);
    height: 87vh;
    background-size: cover;
    background-position: center;
  }
  .st_page {
    object-fit: cover;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 87vh;
  }
  .bg {
    width: 217.5vh;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 87vh;
  }
  .head {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
  }

  .logo {
    width: 9rem;
  }
  .right {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .launguage {
    width: 6rem;
    color: aliceblue;
    background: transparent;
    height: 2rem;
    border-radius: 0.25rem;
    border: 0cap;
  }

  .sign_button,
  .started_button {
    height: 2rem;
    background-color: red;
    color: white;
    width: 4.806rem;
    border-radius: 0.25rem;
    border-color: red;
  }
  .text {
    font-size: 3.5rem;
    font-weight: 700;
    width: 100%;
    margin-top: 10%;
    color: white;
    text-align: center;
  }
  .option_1,
  .option_2 {
    color: black;
  }
  .translate {
    height: 1.4rem;
    color: aliceblue;
  }
  .trans_launguage {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: 0.125rem solid rgb(54, 45, 45);
    border-radius: 0.25rem;
    background-color: rgb(37, 33, 33);
    height: 2rem;
    padding-left: 0.25rem;
  }
  .first_text {
    margin-left: 32rem;
  }
  .email {
    border-radius: 0.35rem;
    height: 2.5rem;
    width: 23rem;
    font-size: 1rem;
    padding: 0.5rem 0.7rem 0.5rem;
    background-color: rgba(39, 37, 37, 0.895);
    color: aliceblue;
  }
  .email_button {
    text-align: left;
    position: relative;
  }
  .started_button {
    width: 13.09rem;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .spacing {
    height: 0.5rem;
    bottom: -0.5rem;
    background-color: rgb(32, 29, 29);
  }
  .parent {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  .sixth_heading {
    width: 70vw;
    margin-left: 30vw;
    font-size: 3rem;
    font-weight: 900;
  }

  .question_div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 4.75rem;
    background-color: rgb(32, 29, 29);
    margin: 1rem 0 0;
    margin-left: 4rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
  }
  .ans_div {
    width: 275vw;
  }
}
@media only screen and (max-width: 600px) {
  .head {
    padding: 1rem;
  }

  .logo {
    width: 6rem;
  }

  .right {
    gap: 1rem;
  }

  .launguage {
    width: 4rem;
    height: 1.5rem;
  }

  .first_page {
    background-image: url(header-image.png);
    height: 87vh;
  }

  .bg {
    width: 100vw;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
  }

  .head {
    display: flex;
    justify-content: space-between;
    padding: 2rem 9rem;
  }

  .logo {
    width: 9rem;
  }

  .right {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .launguage {
    width: 6rem;
    color: aliceblue;
    background: transparent;
    height: 2rem;
    border-radius: 0.25rem;
    border: none;
  }

  .sign_button,
  .started_button {
    height: 2rem;
    background-color: red;
    color: white;
    width: 4.806rem;
    border-radius: 0.25rem;
    border-color: red;
  }

  .sign_button,
  .started_button {
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
  }
  .sixth_heading {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
  }

  .question_div {
    width: 275vw;
    margin-left: 6rem;
    margin-right: auto;
    margin-top: 2rem;
  }

  .ans_div {
    width: 275vw;
    margin-left: 7rem;
    margin-right: auto;
    margin-top: 1rem;
  }
}
